*{
  margin: 0;
  padding: 0;
  border:0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #DCDCDD;
}
a:hover{
  text-decoration: underline;
}
header{
  display: inline-flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}
.logoR{
  height: 150px;
  width: 350px ;
}
.menuDesplegable{
  display:flex;
  flex-direction: column;
  display: none;
}

.menuDesplegable li{
  list-style: none;
  font-style: normal;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
}


body{
  
  background-color: #0B0C12;
}

.icon{
  width: 40px;
  height: 40px;
}
/*main*/
/*¨seccion categoria*/
section.category{
  position: relative;
  padding-left: 3px;
  margin-bottom: 40px;
}
/*titulo categoria*/
section.category h2.game-category{
  font-weight: 300;
  font-size: 25px;
  line-height: 36px;
  text-transform: capitalize;
  display: flex;
  position: relative;
  margin-left: 6%;
}
/*carrusel juego*/
.slide{
  width: 88%;
  display: flex;
  column-gap: 50px;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  position: relative;
  margin-left: 6%;
}
.button-right, .button-left{
  position: absolute;
  top: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor:pointer;
}
.button-left{
  left: 2%;
}

.button-right{
  right: 2%;
}
/* card juego carrusel*/
section.category ul.slide .game-card{
  width: 270px; 
  height: 122px; 
  position: relative; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
}
/* imagen card juego*/
section.category ul.slide .game-card .game-card-img{
  width: 240px; 
  height: 95px; 
}
/* imagen */
section.category ul.slide .game-card .game-card-img img{
  position: absolute;
  width: 240px;
  height: 95px;
  object-fit: cover;
  
}
section.category ul.slide .game-card .card-info{
  position: absolute;
  height: 25px;
  width: 240px;
  padding: 3px 3px;
  text-align: center;
  background-color: #5D5191;
}
section.category ul.slide .game-card .card-info .card-title{
font-style: normal;
text-transform: capitalize;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
  
}
section.category ul.slide .game-card .etiquetafree{
  display: flex;
  position:absolute;
  justify-content: center;
  column-gap: 10px;
  left: -10px;
  z-index:7;
  top: 15px;
  width: 80px;
  height: 22px;
  border-radius: 2px;
  background: #51915D;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
section.category ul.slide .game-card .etiquetapremium{
  display: flex;
  position:absolute;
  justify-content: center;
  column-gap: 10px;
  left: -10px;
  z-index:7;
  top: 15px;
  width: 80px;
  height: 22px;
  border-radius: 2px;
  background: #C69414;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
section.category ul.slide .game-card .etiquetapremium .title-etiqueta{
  margin-top: 2px;
}
section.category ul.slide .game-card .etiquetafree .title-etiqueta{
  margin-top: 2px;
}
section.category ul.slide .game-card .etiqueta-triangulo{
  width: 14px;
  height: 11px;
  transform: rotate(140grad);
  background: #2D5034;
  position: relative;
  top: 29px;
  left: -8px;
  border-radius: 1px;
}
section.category ul.slide .game-card .etiqueta-triangulo-premium{
  width: 14px;
  height: 11px;
  transform: rotate(140grad);
  background: #A77C0D;
  position: relative;
  top: 29px;
  left: -8px;
  border-radius: 1px;
}
section.category ul.slide .game-card .etiquetapremium .icon-etiqueta{
  width: 15px;
  height: 15px;
}
section.category ul.slide .game-card .etiquetafree .icon-etiqueta{
  width: 20px;
  height: 20px;
}
/*4 en linea*/
.game-container{
  width: 80%;
  height: auto;
  margin: 10px 10%;
  padding: 16px 0;
}
/*ruta*/
.game-container .breadcrums{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
}
/*section*/
.game-container section{
  width: 100%;
  height: auto;
  position: relative;
  overflow:hidden;
}
.game-container section .section-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-container section .section-image .bk-game-image{
  width: 100%;
}
.game-container section .section-image .play-section{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.game-image{
  width: 300px;
  height: 400px;
  border-radius: 10px;
}

.game-container section .game-info{
  width: 100%;
  height: 100px;
  background-color:#5D5191;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.game-container section .game-info h1{
  font-weight: 390;
  font-size: 28px;
  line-height: 96px;
  margin-left: 46px;
  width: auto;
}

.game-container section .game-info .info-section{
  display: flex;
  justify-content: start;
  align-items: center;
  width: auto;
}
.game-container h2{
  font-weight: 500;
  font-size: 26px;
  margin: 10px 0;
}

/*instrucciones 4en linea*/
.game-container .game-instructions{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
}

.game-container .game-instructions img{
  width: 340px;
  height: 295px;
  border-radius: 10px;
}

.game-container h3{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0 20px 0;
}

/*formulario comentario*/
.game-container .form-container{
  width: 84%;
  height: auto;
  margin: 20px 8%;
  border: 1px solid #515257;
  background-color: #1A1B26;
  padding: 20px;
  border-radius: 15px;
}

.user-content{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.user-content img{
  width:45px;
  height: 45px;
  background-color: #4d4d4d;
  border-radius: 100%;
  margin-left: 20px;
  object-fit: cover;
}

.game-container .form-container .form-comment{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}

.game-container .form-container .form-comment input{
  width: 90%;
  height: 50px;
  padding: 10px;
  border: solid 1px #515257;
  background-color: #0B0C12;
  border-radius:10px 0 0 10px ;
  margin-left: 20px;
}

.game-container .form-container .form-comment button{
  width: 10%;
  height: 50px;
  background-color: #A48EFF;
  border-radius:0 10px 10px 0;
  cursor: pointer;
  margin-right: 20px;
}
 /*comentarios*/
 .game-container .comments .comment-list{
  width: 84%;
  height: auto;
  margin: 20px 8%;
}

.game-container .comments .comment-list .comment{
  width: 100%;
  height: auto;
  border: 1px solid #515257;
  background-color: #1A1B26;
  margin-bottom: 20px;
  border-radius: 10px;
}

.game-container .comments .comment-list .comment .top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.game-container .comments .comment-list .comment .top-content .like-comment{
  display: flex;
  gap: 1em;
  align-items: center;
  margin-right: 20px;
}


.game-container .comments .comment-list .comment .line-center{
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin: 16px 0;
}

.game-container .comments .comment-list .comment .bottom-content{
  display: flex;
  flex-direction: column;
  padding: 5px 40px 20px 40px;
}

.game-container .comments .comment-list .comment .bottom-content .date-comment{
  color: #929292;
  margin-top: 18px;
}
/*footer*/
.footer-container{
  background-color: #1A1B26;
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
}
.footer-container .footer-logo-container{
  display: flex;
  justify-content: center;
}

.footer-container .footer-logo-container .footer-logo{
  width: 160px;
  height: 70px;
  margin-top: 70px;
}
.footer-container .footer-nav .footer-links h3{
  padding: 16px 0px 10px 18px;
  letter-spacing: 3px;
  color: #DCDCDD;
}

.footer-container .footer-nav .footer-links li{
  padding: 4px 0px 10px 18px;
  font-size: 14px;
}

.line{
  width: 90%;
  border-top: 1px solid #B8B8B8;
  margin: 20px 5%;
}

.footer-container .footer-social{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.footer-container .footer-social a{
  margin: 10px 16px 10px 16px;
}

.footer-container span{
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}
/*boton jugar*/
.button-play{
  background-color: #A48EFF;
  cursor: pointer;
}
.card-button{
  height: 30px;
  width: 90px;
  border-radius: 10px;
}
/*texto boton*/
.card-button a{
  font-size: 18px;
}
@media only screen and (min-width: 768px){
  .footer-container .footer-nav{
    display: grid;
    width: 80%;
    margin: 25px 4% 0% 16%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  } 
}
@media only screen and (min-width: 1024px){
  .footer-container .footer-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 80%;
    height: 300px;
    margin: 20px 10%;
  }

  .footer-container .footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 0 20%;
  }  
}



