*{
  margin: 0;
  padding: 0;
  border:0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #DCDCDD;
}
.logoR{
  height: 30%;
  width: 50%;
}
.menuDesplegable{
  display:flex;
  flex-direction: column;
}

.menuDesplegable li{
  list-style: none;
  font-style: normal;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body{
  background-color: #0B0C12;
  display: grid;
  grid-template-rows: "header header header"
  "main main main"
  "main main main"
  "footer footer footer";
}

.icon{
  width: 40px;
  height: 40px;
}
/*main*/
/*¨seccion categoria*/
section.category{
  position: relative;
  padding-left: 3px;
  margin-bottom: 40px;
}
/*titulo categoria*/
section.category h2.game-category{
  font-weight: 300;
  font-size: 25px;
  line-height: 36px;
  text-transform: capitalize;
  display: flex;
  align-items: baseline;
  column-gap: 15px;
  position: relative;
}
/*carrusel juego*/
.slide{
  display: flex;
  column-gap: 30px;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  
}
/* card juego carrusel*/
section.category ul.slide .game-card{
  width: 270px; 
  height: 122px; 
  position: relative; 
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start; 
}
/* imagen card juego*/
section.category ul.slide .game-card .game-card-img{
  width: 240px; 
  height: 95px; 
  left: 100px;
}
/* imagen */
section.category ul.slide .game-card .game-card-img img{
  position: absolute;
  width: 240px;
  height: 95px;
  object-fit: cover;
  left: 10px;
}
section.category ul.slide .game-card .card-info{
  position: absolute;
  height: 25px;
  width: 240px;
  padding: 3px 3px;
  text-align: center;
  background-color: #5D5191;
  left: 10px;
}
section.category ul.slide .game-card .card-info .card-title{
font-style: normal;
text-transform: capitalize;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
  
}
section.category ul.slide .game-card .etiquetafree{
  display: flex;
  position:absolute;
  justify-content: center;
  z-index:7;
  left:0px;
  top: 15px;
  width: 80px;
  height: 22px;
  border-radius: 2px;
  background: #51915D;
}
section.category ul.slide .game-card .etiqueta-triangulo{
  width: 14px;
  height: 11px;
  transform: rotate(140grad);
  background: #2D5034;
  position: relative;
  top: 29px;
  left: 2px;
  border-radius: 1px;
}
section.category ul.slide .game-card .icon-free{
  width: 19px;
  height: 19px;

}
/*footer*/
.footer-container{
  background-color: #1A1B26;
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
}
.footer-container .footer-logo-container{
  display: flex;
  justify-content: center;
}

.footer-container .footer-logo-container .footer-logo{
  width: 160px;
  height: 70px;
  margin-top: 70px;
}
.footer-container .footer-nav .footer-links h3{
  padding: 16px 0px 10px 18px;
  letter-spacing: 3px;
  color: #DCDCDD;
}

.footer-container .footer-nav .footer-links li{
  padding: 4px 0px 10px 18px;
  font-size: 14px;
}

.line{
  width: 90%;
  border-top: 1px solid #B8B8B8;
  margin: 20px 5%;
}

.footer-container .footer-social{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-container .footer-social a{
  margin: 10px 16px 10px 16px;
}

.footer-container span{
  font-size: 12px;
  text-align: center;
  padding-bottom: 20px;
}
@media only screen and (min-width: 768px){
  .footer-container .footer-nav{
    display: grid;
    width: 80%;
    margin: 25px 4% 0% 16%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  } 
}
@media only screen and (min-width: 1024px){
  .footer-container .footer-grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 80%;
    height: 300px;
    margin: 20px 10%;
  }

  .footer-container .footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 0 0 20%;
  }  
}



