*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato';
  }

.header{
    display: flex;
    justify-content: space-between;
    background-color: #5499F8;
    height: 103px;
    width: 100%;
}
.hamburger-menu{
    margin-top: 20px;
    margin-left: 100px;
    height: 26px;
    width: 34px;
}
.line-hamburger{
    height: 4px;
    width: 100%;
    background-color: #FFE901;
    border-radius: 111px;
    border: solid 4px #2981FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}
.btn-header{
    margin-top: 20px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: solid 8px #2981FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}
/*primer parallax*/
.par1 div{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

.par1 .fondo{
    background-image: url("../img/fondos/fondo1/fondo1.png");
}
.par1 .edificioC{
    background-image: url("../img/fondos/fondo1/edificiosCentro.png");
}
.par1 .edificioL{
    background-image: url("../img/fondos/fondo1/edificioIzquierda.png");
}
.par1 .edificioR{
    background-image: url("../img/fondos/fondo1/EdificiosDerecha.png");
}
.par1 .milesm{
    background-image: url("../img/personajes/grupo1/MilesMorales.png");
} 
.par1 .spiderm{
    background-image: url("../img/personajes/grupo1/SpiderMan.png");
}
.par1 .gwenS{
    background-image: url("../img/personajes/grupo1/gwen.png");
}
.par1 .logo{
    background-image: url("../img/logo.png");
}
.par1 .telaL{
    background-image: url("../img/personajes/grupo1/teladeaniaIzquierda.png");
}
.par1 .telaR{
    background-image: url("../img/personajes/grupo1/teladeaniaDerecha.png");
}
/*fin primr parallax*/

/*anotarse a lista de correo*/
.listaEmail {
    position: relative;
    width: 1280px;
    height: 1296px; /* Ajusta la altura según tus necesidades */
    background: linear-gradient(to bottom, #8FBEFC, #F7E3D8); /* Degradado vertical */
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
.listaEmail::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background: url('../img/fondos/fondo3/fondo1.png') center/cover no-repeat; /* Imagen superpuesta */
    
  }
  .ingresaCorreo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ingresaCorreo h2{
    width: 816px;
    font-size: 60px;
    font-weight: lighter;
    text-align: justify;
    text-align-last: center; 
  }
  .ingresaCorreo .autorizacion p{
    font-size: 20px;
  }
  .ingresaCorreo  .input{
    display: flex;
    flex-direction: row;
    width: 780px;
    height: 100px;
    border: 9px solid #2982FF;
    border-radius: 20px;
    background-color: #2982FF;
  }
  .ingresaCorreo  .input input{
    width: 562px;
    height: 100px;
    border-radius: 10px;
  }
  .ingresaCorreo  .input input ::placeholder{
    margin-left: 30px;
  }
  .ingresaCorreo  .input button{
    width: 218px;
    height: 100px;
    border-left: 9px solid #2982FF;
    border-right: 9px solid #2982FF;
    border-bottom: 1px solid #2982FF;
    border-top: 1px solid #2982FF;
    border-radius: 20px;
    background-color:#FFE901;
    color: #02187E;

  }

  .ingresaCorreo .autorizacion{
    width: 578px;
    height: 95px;
  }

  
/*finaliza anotarse a lista*/
/*footer*/
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 598px;
    width: 1280px;
}
.topFooter{
    display: flex;
    justify-content: center;
    background-color:#242424;
}
.botFooter{
    display: flex;
    flex-direction: column;
    background-color: #5E5E5D;
    align-content: flex-start;
}
.botFooter h5{
    color: #FFFFFF;
}
.botFooter h5, .botFooter .socials{
    margin: 10px;
    padding-left: 90px;
}
.botFooter .policies{
    width: 820px;
}
.botFooter .socials{
    width: 212px;
    height: 41px;
}
/*fin footer*/