*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    font-family: 'Lato', sans-serif;
}

h1{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container1280{
    width: 1280px;
    overflow: hidden;
    position: relative;
}
.container1080{
    width: 1080px;
}
/*loader*/
.loader{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    position: sticky;
    background-color: #E2ECFF;
  }
  
  .ring{
    position: absolute;
    top: 70px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .ring::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255,255,255,.3);
    animation: ring .5s infinite;
  }
  
.loader .ring span{
    color: #020336;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 200px;
}
.spideyLoader{
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column;
}
.spideyLoader img{
    width:200px ;
    animation-name: animar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.spideyLoader .shadow {
    position: absolute;
    top: 190px;
    left: 32px;
    width: 100px;
    height: 20px;
    margin: 20px 0;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    animation: sombra 1s alternate infinite;
  }
  @keyframes animar {
    from {
      transform: translateY(-30px);
    }
  
    to {
      transform: translateY(0px);
    }
  }
  
  @keyframes sombra {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.5);
      opacity: 0.2;
    }
  }

  
  @keyframes ring {
  0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #5499F8;
  }
  25%{
      transform: rotate(90deg);
      box-shadow: 1px 5px 2px #5499F8;
  }
  50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #5499F8;
  }
  75%{
      transform: rotate(270deg);
      box-shadow: 1px 5px 2px #5499F8;
  }
  100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #A48EFF;
  }
}
/*fin loader*/
/******* header ********/
.header{
    display: flex;
    position: absolute;
    justify-content: space-between;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    height: 120px;
    width: 1280px;
    z-index: 3;
}
#header-container{
    position: sticky;
    top: 0px;
    z-index: 10;
    width: 1280px;
}
.header-sticky{
    position: sticky;
    top: 0px;
    height: 91px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    width: 1280px;
    z-index: 10;
}
.hamburger-menu{
    margin-top: 20px;
    margin-left: 100px;
    height: 36px;
    width: 42px; 
    animation: hamburger-menu-close 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu.open{
    width: 42px;
    height: 42px;
    z-index: 11;
    animation: hamburger-menu 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu.open #top-line{
    animation: top-line-animation 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu.open #middle-line{
    animation: middle-line-animation 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu.open #bottom-line{
    animation: bottom-line-animation 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu #top-line{
    animation: top-line-animation-close 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu #middle-line{
    animation: middle-line-animation-close 0.5s;
    animation-fill-mode: forwards;
}
.hamburger-menu #bottom-line{
    animation: bottom-line-animation-close 0.5s;
    animation-fill-mode: forwards;
}
.line-hamburger{
    height: 4px;
    width: 34px;
    background-color: #FFE901;
    border-radius: 111px;
    border: solid 4px #2981FF;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}
@keyframes hamburger-menu{
    90%, 100%{
        transform: translateX(60px);
    }
}
@keyframes hamburger-menu-close{
    0%{
        transform: translateX(60px);
    }
    90%, 100%{
        transform: translateX(0px);
    }
}
@keyframes top-line-animation{
    50%, 100%{
        transform: translateY(12px) rotate(-45deg);
        width: 42px;
    }
}
@keyframes middle-line-animation{
    20%, 100%{
        width: 0px;
        opacity: 0;
    }
}
@keyframes bottom-line-animation{
    50%, 100%{
        transform: translateY(-12px) rotate(45deg);
        width: 42px;
        box-shadow: 5px 0px 0px 0px #02187E;
    }
}
@keyframes top-line-animation-close{
    0%{
        transform: translateY(12px) rotate(-45deg);
        width: 42px;
    }
    50%, 100%{
        transform: translateY(0px) rotate(0deg);
        width: 34px;
    }
}
@keyframes middle-line-animation-close{
    20%, 100%{
        width: 34px;
        opacity: 1;
    }
}
@keyframes bottom-line-animation-close{
    0%{
        transform: translateY(-12px) rotate(45deg);
        width: 42px;
    }
    50%, 100%{
        transform: translateY(0px) rotate(0deg);
        width: 34px;
        box-shadow: 4px 5px 0px 0px #02187E;
    }
}

.btn-header{
    margin-top: 10px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: solid 8px #2981FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}
.btn-header:hover{
    scale:1.1;
    transition: 0.3s;
}
.btn-header h1{
    color: #02187E;
    font-family:'Lato';
    font-size: 20px;
    font-style:normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px;
}
.btn-header:hover{
    background: #2981FF;
    border: solid 10px #FFE901;
}
.logo{
    width: 590px;
    position:absolute;
    top: 91px;
    left: 330px;
    transition:all 0.3s;
}
.logo.fixed-img{
    top: 16px;
    left: 550px;
    width: 133px;
    height: 68px;
}

#menuH{
    background-color: #5499F8;
    height: 1000px;
    width: 250px;
    left: -100px;
    position: absolute;
    opacity: 0;
    z-index: 5;
    top: 70px;
}
#menuH.view{
    animation: menuDesplegable 1s;
    animation-fill-mode: forwards;
}
#menuH.view li{
    cursor: pointer;
}
#menuH.view li:hover{
    scale: 1.1;
    text-decoration: underline #FFF;
}
#menuH.view #li1{
    animation: animationLi1 1s;
    animation-fill-mode: forwards;
}
#menuH.view #li2{
    animation: animationLi1 1.7s;
    animation-fill-mode: forwards;
}
#menuH.view #li3{
    animation: animationLi1 3s;
    animation-fill-mode: forwards;
}
@keyframes animationLi1{
    50%,100%{
        transform: translateX(70px);
        opacity: 1;
    }
}
#menuH .list{
    top: 100px;
    left: -30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
#menuH .list li{
    display: flex;
    gap: 15px;
    opacity: 0;
}
#menuH .list li img{
    width:30px;
    height: 30px;
}
#menuH .list h2{
    color:#FFF;
}
@keyframes menuDesplegable{
    50%,100%{
        transform: translateX(100px);
        opacity: 1;
    }
}
/*anotarse a lista de correo*/
.listaEmail {
    position: relative;
    width: 1280px;
    height: 1296px;
    background: linear-gradient(to bottom, #8FBEFC, #F7E3D8);
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
.listaEmail::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1280px;
    height: 720px;
    background: url('../img/fondos/fondo3/fondo1.png') center/cover no-repeat;

}
.ingresaCorreo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ingresaCorreo div{
    margin: 20px;
}
.ingresaCorreo h2{
    margin-top: 145px;
    margin-bottom: 70px;
    width: 816px;
    height: 171px;
    font-size: 60px;
    line-height: 58px;
    text-align: justify;
    text-align-last: center;
}
.ingresaCorreo h2 .lineaMedio{
    word-spacing: 0px;
}

.ingresaCorreo  .input{
    display: flex;
    flex-direction: row;
    width: 780px;
    height: 100px;
    border: 9px solid #2982FF;
    border-radius: 55px;
    background-color: #2982FF;
}
.ingresaCorreo  .input input{
    width: 562px;
    height: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.ingresaCorreo .input input::placeholder{
    font-size: 20px;
    letter-spacing: 1.76px;
    padding-left: 42px;
}
.ingresaCorreo  .input button{
    width: 218px;
    height: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 9px solid #2982FF;
    border-right: 9px solid #2982FF;
    border-bottom: 1px solid #2982FF;
    border-top: 1px solid #2982FF;
    background-color:#FFE901;
    color: #02187E;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.ingresaCorreo .autorizacion{
    width: 578px;
    height: 95px;
}
.ingresaCorreo .autorizacion p{
    color: #000;
    font-size: 20px;
}



/*finaliza anotarse a lista*/

/***** grupo 1 *****/
#section-one{
    position: relative;
}
.group-one{
    width: 100%;
    margin-top: 100px;
    transition: 2s;
}

.group-one #fondo{
    width: 100%;
    position: relative;
}
.group-one #fondo #img-fondo{
    position: relative;
    z-index: 0;
    width: 100%;
}
.group-one #fondo #img-edificioIzq{
    z-index: 2;
    position: absolute;
    left: -54px;
    top: 40px;
    transition: 0.5s;
}
.group-one #fondo #img-edificioCentro{
    z-index: 2;
    position: absolute;
    left: 383px;
    top: 520px;
    transition: 0.5s;
}
.group-one #fondo #img-edificioDerecha{
    position: absolute;
    z-index: 2;
    right: -8px;
    bottom: -40px;
    transition: 0.5s;
}
.group-one #spiders-group-one{
    position: absolute;
    top: 360px;
    z-index: 4;
    width: 1280px;
    transition: 0.5s;
}

.group-one #spiders-group-one #img-gwen{
    position: relative;
    margin-left: 90px;
    transition: 0.5s;
}

.group-one #spiders-group-one #img-spider-man{
    position: relative;
    right: 50px;
    top: 38px;
    transition: 0.5s;
}
.group-one #spiders-group-one #img-miles{
    position: absolute;
    right: 190px;
    top: -35px;
    transition: 0.5s;
}
.group-one #spiders-group-one #teladeaniaDerecha{
    position: absolute;
    right: 0px;
    top: 18px;
    transition: 0.5s;
}
#teladeaniaIzquierda{
    position: absolute;
    left: 0px;
    top: 9px;
    transition: 0.5s;
}
/******* grupo2 *******/
.group-two{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 845px;
}
.group-two #rect-violet{
    position:absolute;
    z-index: 3;
    top: -50px;
}
.group-two .container1080 #contenido{
    position: absolute;
}
.group-two .container1080 #contenido #titulo{
    z-index: 4;
    position: absolute;
    top: 180px;
    left: 95px;
    width:646px;
}
.group-two .container1080 #contenido #texto{
    width: 586px;
    height: 154px;
    z-index: 4;
    position: absolute;
    top: 316px;
    left: 95px;
}
.group-two #duende-verde{
    position: absolute;
    top: 85px;
    right: 0px;
    z-index: 5;
    transition: 0.3s;
}
.group-two #card{
    position: absolute;
    top: 467px;
    left: 90px;
    z-index: 4;
}
/******* grupo3 *********/
.group-thre{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 200px;
}
.group-thre #cards{
    display: flex;
    justify-content: space-between;
}
.group-thre #charCard1, .group-thre #charCard2, .group-thre #charCard3{
    transition: 0.5s;
}
.group-thre #charCard1{
    width: 332px;
}
.group-thre #charCard2{
    width: 332px;
}
.group-thre #charCard3{
    width: 332px;
}
.textBlack{
    color: black;
}
.group-thre #charCard1{
    opacity: 0;
    transform: translateY(300px);
    animation: aparecer, 0.2s, ease-in-out forwards;
}
.group-thre #charCard2{
    opacity: 0;
    transform: translateY(300px);
    animation: aparecer, 0.3s, ease-in-out forwards;
}
.group-thre #charCard3{
    opacity: 0;
    transform: translateY(300px);
    animation: aparecer, 0.4s, ease-in-out forwards;
}
  @keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }
  
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }
/***** grup 4 *******/
.group-four{
    margin-top: 145px;
    position: relative;
    z-index: 2;
}
.group-four #ghostc1{
    position: absolute;
    left: 50px;
    top: -160px;
}
.group-four #ghostc1:hover{
    transform: skew(5deg, 5deg);
    transition: ease-in-out;
}
.group-four #ghostc2{
    position: absolute;
    left: 20px;
    top: -20px;
}
.group-four #ghostc2:hover{
    transform: skew(5deg, 5deg);
    transition: ease-in;
}
.group-four #ghostc3{
    position: absolute;
    left: 53px;
    top: 167px;
}
.group-four #ghostc3:hover{
    transform: skew(5deg, 5deg);
    transition: ease-in;
}
/****** grupo 5 *********/
.group-five{
    background-color: black;
    position: relative;
    width: 100%;
    top: -100px;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.group-five #title{
    position: absolute;
    top: 260px;
    color: #FFF;
    width: 667px;
    left: 104px;
}
.group-five #phanter{
    position: absolute;
    right: 240px;
    top: 220px;
    z-index: 1;
}
.group-five #elastic{
    position: absolute;
    left: 128px;
    top: 395px;
    z-index: 4;
}
  .group-five #hulk{
    position: absolute;
    right: 45px;
    top: 595px;
    z-index: 4;
}
  .group-five .fondo{
    position: relative;
    top: 490px;
    left: 0px;
}
  .group-five .fondo #part2{
    position: absolute;
    left: 0px;
    z-index: 5;
}
  .group-five .fondo #part3{
    position: absolute;
    left: 0px;
    z-index: 3;
}
/*****grupo 6********/
#grupo6{
    position: relative;
}
.group-six{
    position: relative;
    display: flex;
    justify-content: center;
}
.group-six #container-animation{
    height: 1800px;
}
.group-six #rectBlanco{
    position:absolute;
    z-index: 1;
    top: -230px;
}
.group-six .container1080 #title{
    width: 802px;
    position: relative;
    right: 0px;
    color: #000;
    margin-bottom: 69px;
    z-index: 2;
    top: 0px;
}
.group-six .container1080 #mas-diversion{
    display: flex;
    flex-direction: column;
    gap: 121px;
    z-index: 2;
}
.group-six .container1080 img{
    height: fit-content;
    z-index: 3;
}
.group-six .container1080 #img1{
    display: block;
    position: relative;
    top: 20px;
}
.group-six .container1080 #img2{
    display: none;
    position:sticky;
    top: 20px;
}
.group-six .container1080 #img3{
    display: none;
    position:sticky;
    top: 20px;
}
.group-six .container1080 #img4{
    display: none;
    position:sticky;
    top: 20px;
}
.group-six .container1080 #mas-diversion .card-diversion{
    display: flex;
    gap: 57px;
    z-index: 2;
    transition: 1s;
}
.group-six .container1080 #mas-diversion .card-diversion #contenido1{
    position: absolute;
    right: 30px;
    top: 150px;
}
.group-six .container1080 #mas-diversion .card-diversion #contenido2{
    position: absolute;
    right: 30px;
    top: 553px;
    opacity: 0;
    transition: 1s;
}
.group-six .container1080 #mas-diversion .card-diversion #contenido3{
    position: absolute;
    right: 30px;
    top: 979px;
    opacity: 0;
    transition: 1s;
}
.group-six .container1080 #mas-diversion .card-diversion #contenido4{
    position: absolute;
    right: 30px;
    top: 1491px;
    opacity: 0;
    transition: 1s;
}
.group-six .container1080 #mas-diversion .card-diversion .title{
    right: 100px;
    color: #000;
    width: 467px;
    font-size: 40px;
}
.group-six .container1080 #mas-diversion .card-diversion .text{
    color: #000;
    width: 467px;
}
.group-six .container1080 #mas-diversion .card-diversion #text1{
    height: 152px;
}
.group-six .container1080 #mas-diversion .card-diversion #text2{
    height: 152px;
}
.group-six .container1080 #mas-diversion .card-diversion #text3{
    height: 228px;
}
.group-six .container1080 #mas-diversion .card-diversion #text4{
    height: 171px;
}

/********** grupo 7 **********/
.group-eleven{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 600px;
}
.group-eleven .container1080 #title{
    position: absolute;
    top: 100px;
    width: 816px;
}
.group-eleven .container1080 .btn-header{
    width: 292px;
    position: absolute;
    top: 272px;
}
/*** grupo 7.5 *****/
#section-black{
    background-color: #000;
    height: 600px;
    z-index: 0;
    position: relative;
}
#section-black #tittle{
    position: relative;
    left: 110px;
    top: 160px;
    width: 816px;
}
#section-black .btn-header{
    position: relative;
    left: 110px;
    top: 180px;
    width: 292px;
}
/********** grupo 8 ******/
#section-eight{
    height: 550px; 
}
.group-eight{
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    top: -150px;
    
}
#fondogp8{
    position: absolute;
    z-index: 1;
    opacity: 2;
}
#line1,#line2{
    z-index: 2;
}
#line1{
    position: absolute;
}
#line2{
    position: absolute;
    top: 700px;
}
#gwen,#spider-man,#miles-morales{
    position: absolute;
    transition: 0.5s;
    z-index: 2;
}
.group-eight .container1080 .grupoInicial #gwen{
    top: 171px;
    left: 100px;
}
.group-eight .container1080 .grupoInicial #spider-man{
    top: 180px;
    left: 450px;
}
.group-eight .container1080 .grupoInicial #spider-man2{
    position: absolute;
    top: 180px;
    left: 450px;
}
.group-eight .container1080 .grupoInicial #miles-morales{
    top: 180px;
    right: 100px;
}
.grupoInicial{
    display: block;
}
.grupoGwen{
    display: none;
}
.group-eight .container1080 .grupoGwen #gwen{
    top: 220px;
    left: 220px;
    scale: 1.5;
}
.group-eight .container1080 .grupoGwen #spider-man{
    top: 270px;
    left: 450px;
}
.group-eight .container1080 .grupoGwen #miles-morales{
    top: 270px;
    right: 170px
}
.grupoParker{
    display: none;
}
.group-eight .container1080 .grupoParker #gwen{
    top: 250px;
    left: 100px;
}
.group-eight .container1080 .grupoParker #spider-man{
    top: 220px;
    left: 420px;
    scale: 1.4;
}
.group-eight .container1080 .grupoParker #miles-morales{
    top: 250px;
    right: 100px
}

.grupoMorales{
    display: none;
}
.group-eight .container1080 .grupoMorales #gwen{
    top: 250px;
    left: 100px;
}
.group-eight .container1080 .grupoMorales #spider-man{
    top: 260px;
    left: 400px;
}
.group-eight .container1080 .grupoMorales #miles-morales{
    top: 200px;
    right: 150px;
    scale: 1.5;
}
/** spritesheet*/
#spider-sheet{
    position: absolute;
    top: 800px;
    width: 44px;
    height: 50px;
    margin:auto;
    background: url(../img/spritesheet.png) repeat-x;
    background-position:-25px -175px;
    animation:walk 2s steps(10) infinite;
}
@keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    from { background-position:-25px -171px;
         left: 0px;}
    10%{left: 100px;}
    20%{left: 200px;}
    30%{left: 300px;}
    40%{left: 450px;}
    50%{left: 550px;}
    60%{left: 650px;}
    70%{left: 750px;}
    80%{left: 950px;}
    90%{left: 1100px;}
    to{background-position:-502px -171px;
        left: 1280px;}
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    /**100% { background-position:-559px -175px; }**/
  }
/*spritesheet spiderman*/
.spSpiderman{
    position: absolute;
    top: 1080px;
    left: 423px;
    width: 85px;
    height: 80.1px;    
    margin: auto;
    background: url(../img/personajes/grupo4/spSpiderman.png) repeat-x;
    animation: jump 2s steps(16) infinite;
}
@keyframes jump { 
	0% { background-position: 0px; }
    100% { background-position: -1360px; }
 } 
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    /*
    height: 598px;
    width: 1280px;*/
}
.topFooter{
    display: flex;
    justify-content: center;
    background-color:#242424;
}
.botFooter{
    display: flex;
    flex-direction: column;
    background-color: #5E5E5D;
    align-content: flex-start;
    height: 598px;
    width: 1280px;
}
.botFooter h5{
    color: #FFFFFF;
}
.botFooter h5, .botFooter .socials{
    margin: 10px;
    padding-left: 90px;
}
.botFooter .policies{
    margin-top: 30px;
    height: 380px;
    width: 820px;
}
.botFooter .policies h5{
    letter-spacing: 1.76px;
    font-size: 20.55px;
    line-height: 18px;
    font-weight: lighter;
}
.botFooter .socials{
    width: 212px;
    height: 41px;
}
/*fin footer*/