*{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #0B0C12;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #DCDCDD;
  }


/*main*/
/*¨seccion categoria*/
section.category{
    position: relative;
    padding-left: 3px;
    margin-bottom: 40px;
}
/*titulo categoria*/
section.category h2.game-category{
    font-weight: 300;
    font-size: 25px;
    line-height: 36px;
    text-transform: capitalize;
    display: flex;
    align-items: baseline;
    column-gap: 15px;
    position: relative;
  }
/*carrusel juego*/
.slide{
    display: flex;
    column-gap: 80px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-bottom: 10px;
    
  }
/* card juego carrusel*/
section.category ul.slide .game-card{
    width: 270px; 
    height: 122px; 
    position: relative; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex
  }
/* imagen card juego*/
section.category ul.slide .game-card .game-card-img{
    width: 240px; 
    height: 95px; 
    
}
/* imagen */
section.category ul.slide .game-card .game-card-img img{
    width: 240px;
    height: 95px;
    object-fit: cover;

}
section.category ul.slide .game-card .card-info{
  height: 25px;
  width: 240px;
  padding: 3px 3px;
  text-align: center;
  background-color: #5D5191;
}
section.category ul.slide .game-card .card-info .card-title{
  font-style: normal;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: transparent;
    
}
